@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap');


*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #F2F2F2;
}

a{
  text-decoration: none;
}

ul{
  padding: 0;
  list-style: none;
}

.container{
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}





/* HEADER STYLE STARTED */

.site__header{
  padding: 45px 0;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  width: 236px;
  height: 26px;
}

.header__nav-list{
  display: flex;
  justify-content: space-between; 
  width: 283px;
}

.header__nav-link{
  font-size: 12px;
  letter-spacing: 0.92px;
  line-height: 15px;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: #83888F;
}

/* HEADER STYLE FINISHED */





/* ABOUT STYLE STARTED */

.about__wrapper{
  background-image: url(/images/about-bg.jpg);
  border-radius: 10px;
  padding: 137px 85px;
}

.about__section-title{
  font-size: 40px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.about__section-desc{
  width: 445px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;
  color: #FEFCF7;
}

/* ABOUT STYLE FINISHED */





/* COMMIT STYLE STARTED */

.commit__wrapper{
  display: flex;
  margin: 0 85px;
  padding: 168px 0;
}

.commit__section-img{
  width: 445px;
  height: 520px;
  margin-right: 125px;
}

.commit__section-title{
  font-family: 'Fraunces', serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
  padding-top: 90px;
}

.commit__section-desc{
  width: 540px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* COMMIT STYLE FINISHED */





/* PRODUCT STYLE STARTED */
/* PRODUCT STYLE FINISHED */





/* LOCATION STYLE STARTED */
/* LOCATION STYLE FINISHED */





/* FOOTER STYLE STARTED */
/* FOOTER STYLE FINISHED */