@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap');


*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #F2F2F2;
}

a{
  text-decoration: none;
}

ul{
  padding: 0;
  list-style: none;
}

.container{
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}





/* HEADER STYLE STARTED */

.site__header{
  padding: 45px 0;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  width: 236px;
  height: 26px;
}

.header__nav-list{
  display: flex;
  justify-content: space-between; 
  width: 283px;
}

.header__nav-link{
  font-size: 12px;
  letter-spacing: 0.92px;
  line-height: 15px;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: #83888F;
}

/* HEADER STYLE FINISHED */





/* ABOUT STYLE STARTED */

.about__wrapper{
  background-image: url(/images/about-bg.jpg);
  border-radius: 10px;
  padding: 137px 85px;
}

.about__section-title{
  font-size: 40px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.about__section-desc{
  width: 445px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;
  color: #FEFCF7;
}

/* ABOUT STYLE FINISHED */





/* COMMIT STYLE STARTED */

.commit__wrapper{
  display: flex;
  margin: 0 85px;
  padding: 168px 0;
  margin-bottom: 170px;
}

.commit__section-img{
  width: 445px;
  height: 520px;
  margin-right: 125px;
}

.commit__section-title{
  font-family: 'Fraunces', serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
  padding-top: 90px;
}

.commit__section-desc{
  width: 540px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333D4B;
}

/* COMMIT STYLE FINISHED */





/* PRODUCT STYLE STARTED */

.product__wrapper{
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #2C343E;
  border-radius: 10px;
  padding: 85px;
  margin-bottom: 170px;
}

.product__section-title{
  font-family: 'Fraunces', serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.product__section-desc{
  width: 540px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #FEFCF7;
  padding-bottom: 90px;
  opacity: 80%;
}

.product__section-img{
  position: absolute;
  top: -85px;
  right: 0;
  width: 445px;
  height: 474px;
  border-radius: 8px;
  margin-right: 85px;
}

/* PRODUCT STYLE FINISHED */





/* LOCATION STYLE STARTED */

.location__wrapper{
  margin: 0 85px;
}

.location__section-title{
  font-family: 'Fraunces', serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
}

.location__section-map{
  display: flex;
}

.location__address{
  margin-right: 200px;
}

.location__address-title{
  display: flex;
  flex-direction: column;
  font-family: 'Fraunces', serif;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
}

.uk::before{
  content: "";
  display: inline-block;
  width: 41px;
  height: 49px;
  background-image: url(/images/uk.svg);
  margin-bottom: 46px;
}

.canada::before{
  content: "";
  display: inline-block;
  width: 51.56px;
  height: 50px;
  background-image: url(/images/canada.svg);
  margin-bottom: 46px;
}

.australia::before{
  content: "";
  display: inline-block;
  width: 49px;
  height: 44px;
  background-image: url(/images/australia.svg);
  margin-bottom: 46px;
}

.location__address-desc{
  width: 150px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

/* LOCATION STYLE FINISHED */





/* FOOTER STYLE STARTED */
/* FOOTER STYLE FINISHED */